* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
}

nav {
    border-bottom: 1px solid grey;
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.nav-links a {
    margin-right: 1.1rem;
    color: black;
}

nav div button {
    padding: 0.5rem 1.1rem;
    background-color: white;
    border: 1px solid grey;
    border-radius: 10px;
    cursor: pointer;
}

main {
    border: 0px solid cyan;
}

.main-class {
    
    padding: 2rem;
    display: flex;
    justify-content: center;
    filter: drop-shadow(0px 0px 6px #a6a6a6);
    -webkit-filter: drop-shadow(0px 0px 6px #a6a6a6);
    -moz-filter: drop-shadow(0px 0px 6px #a6a6a6);
}

.left {
    background-color: white;
    padding: 4rem;
  
    
}

.right {
    padding: 2rem;
    background-color: #1179bf;
    color: white;
    
}

.header {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

hr {
    margin-bottom: 1rem;
}

.one {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-bottom: 1rem;
}

.one button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid blue;
    background-color: white;
    font-size: 1rem;
    color: blue;
}

.names {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.first-name input {
    width: 220px;
}

.last-name input {
    width: 220px;
}

.email input {
    width: 340px;
}

h5 {
    margin-bottom: .3rem;
}

.email {
    margin-bottom: 1.5rem;
}

.two {
    display: flex;
    align-items: center;
    gap: .7rem;
    margin-bottom: 1rem;
}

.two button {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 1px solid blue;
    background-color: white;
    font-size: 1rem;
    color: blue;
}
input {
    background: #edeff2;
        border-radius: 4px;
        box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
        border: none;
}

.credit-card {
    margin-bottom: 2rem;
}

.credit-card input {
    width: 100%;
    background: #edeff2;
    border-radius: 4px;
    box-shadow: inset 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
    border: none;
}

.buy-wp {
    width: 100%;
    color: white;
    background-color: #038e7d;
    padding: 0.9rem 0rem;
    border: 0;
    border-radius: 5px;
    margin-bottom: 1.5rem;
}

input {
    padding: .5rem 0.3rem;
}

.contact {
    text-decoration: underline;
}

form p {
    text-align: center;
}

.right-inner h3 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.subscription {
    display: flex;
    gap: .4rem;
    margin-bottom: 0.8rem;
}

.subscription h1 span {
    font-size: 0.8rem;
}

.renew {
    max-width: 200px;
    margin-bottom: 1.4rem;
}

.reviews p {
    max-width: 200px;
    margin-bottom: 1rem;
    
}

.switch-plans {
    margin-bottom: 1rem;
}

.switch-plans p:not(:last-child) {
    margin-bottom: .8rem;
}

.features {
    margin-bottom: 2rem;
    line-height: 24px;
}

.features div {
    margin-bottom: .8rem;
}
.bitman {
width: 40px;
height: 40px;
}
.profile {
 display: flex;
 gap: 1.5rem;   
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
footer{
    text-align: center;
    font-family: 'Lato-REgular', sans-serif;
    font-size: 14px;
    font-weight: 400;
    position: relative;
    width: 875px;
}
.term {
    color: #636b6f;
}
/*fininshing touches*/
.dollar{
    font-family: sans-serif;
    font-size: 24px;
    font-weight: 700;
    position: relative;
}
.ninety-nine{
    font-size: 60px;
    font-weight: 300;
}
